# following https://github.com/coq-community/docker-coq-action

name: Docker CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    paths:
      - '*.v'
      - 'Makefile'
  workflow_dispatch:

jobs:
  build:
    # the OS must be GNU/Linux to be able to use the docker-coq-action
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq_version: [dev, '9.0']
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: 'coq-hol-light.opam'
          coq_version: ${{ matrix.coq_version }}
